<!DOCTYPE html>
<html lang="en">
  <%- include('layout'); %>
  <body>
    <header>
      <ul>
        <li><a href="#">Covo</a></li>
        <li><a href="#">Get your Card</a></li>
      </ul>
    </header>
    <h1>nothing here!</h1>
  </body>
</html>
