<!DOCTYPE html>
<html lang="en">
  <%- include('layout'); %>
  <body>
    <header>
      <ul>
        <li>
          <a href="https://ancorestrategy.com/" target="_blank"
            >Ancore Strategy</a
          >
        </li>
        <li><a href="mailto:tristan.varewijck@gmail.com">Get your Card</a></li>
      </ul>
    </header>
    <main class="error-content">
      <h1>There is nothing here...</h1>
      <p>Do you want Digital Company Cards for you own Business? Contact Us.</p>
      <a href="mailto:tristan.varewijck@gmail.com">Get your Card</a>
    </main>

    <!-- <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div> -->
  </body>
</html>
