<!DOCTYPE html>
<html lang="en">
  <%- include('layout'); %>
  <body>
    <header>
      <ul>
        <li><a href="#">Covo</a></li>
        <li><a href="#">Get your Card</a></li>
      </ul>
    </header>
    <main class="error-content">
      <h1>There is nothing here...</h1>
      <p>Do you want Digital Company Cards for you own Business? Contact Us.</p>
      <a href="#">Get your Card</a>

      <div class="cards-display">
        <img src="/assets/bg-img.png" alt="card-examples" />
      </div>
    </main>
  </body>
</html>
