<!DOCTYPE html>
<html lang="en">
  <%- include('layout'); %>
  <body>
    <header>
      <ul>
        <li>Covo</li>
        <li><a href="#">Get your Card</a></li>
      </ul>
    </header>

    <main>
      <div class="card-header">
        <div class="img-container">
          <img src="/assets/alex-profile-pic.png" alt="profile-picture" />
        </div>

        <div class="name-group">
          <h1>
            Alex <br />
            Sabo
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur Class aptent taciti nu tur
            Class aptent taciti nu
          </p>
        </div>
      </div>

      <div class="button-group">
        <button class="share">Share Contact</button>
        <button class="e-mail">E-mail</button>
      </div>

      <div class="about">
        <h2>About</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis
          ipsum porttitor, molestie tortor ut, auctor mauris. Class aptent
          taciti nus
        </p>
      </div>

      <div class="socials">
        <h2>Socials</h2>
        <ul class="socials-list">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </div>

      <div class="company">
        <h2>Company</h2>
        <ul class="company-list">
          <li>
            <div class="logo-container">
              <img src="/assets/ancoreLogo.png" alt="company-logo" />
            </div>
            <h3>Ancore Strategy</h3>
          </li>
          <li>
            <div class="logo-container">
              <img src="/assets/ancoreLogo.png" alt="company-logo" />
            </div>
            <h3>Ancore Strategy</h3>
            <a href="#" class=".arrow"
              ><img src="/assets/arrow.svg" alt="arrow-icon"
            /></a>
          </li>
          <li>
            <div class="logo-container">
              <img src="/assets/ancoreLogo.png" alt="company-logo" />
            </div>
            <h3>Ancore Strategy</h3>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
